*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: "Mona Sans",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 18%;
    height: 1000px;
    background-color: #1992d4;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo i {
    font-size: clamp(0.6rem,1vw + 2rem,3rem);
}

.logo h3 {
    font-size: clamp(0.6rem,1vw + 0.8rem,2.5rem);
    color: #fff;
}

i {
    color: #fff;
    font-size: clamp(0.3rem,1vw + 0.7rem,2rem);
}

a {
    color: #fff;
    font-size: clamp(0.3rem,1vw + 0.7rem,2rem);
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.home {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.messages {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.history {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tasks {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.communities {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.settings {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.support {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.privacy {
    display: flex;
    align-items: center;
    gap: 1rem;
}