*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: "Mona Sans",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 1000px;
    background-color: #1992d4;
}

.logo {
    display: flex;
}

.logo img {
    height: 60px;
    width: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
}

img {
    height: 20px;
    width: 20px;
    fill: #fff;
}

.home {
    display: flex;
}

.profile {
    display: flex;
}

.messages {
    display: flex;
}

.history {
    display: flex;
}

.tasks {
    display: flex;
}

.communities {
    display: flex;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
}

.settings {
    display: flex;
}

.support {
    display: flex;
}

.privacy {
    display: flex;
}