*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: "Mona Sans",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

/*  */
.main-container {
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(24,1fr);
    min-height: 100vh;   
    width: 100%;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    padding: 1rem;
    background-color: #1a1f2e;
    color: #f8f9fa;
    grid-column: 1 / 5;
    grid-row: 1 / 25;
}

.sidebar a {
    color: #f8f9fa;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-link {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
}

.logo i {
    font-size: 2.2rem;
}

/* Navbar */
.navbar {
    background-color: #fefdfb;
    grid-column: 5 / 25;
    grid-row: 1 / 5;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    z-index: 999;
    
}

/* Main Content */
.content-section {
    background-color: #f5f7fa;
    grid-column: 5 / 25;
    grid-row: 5 / 25;
}




































